/* CONTAINER */
.contact-container {
  font-family: Arial, sans-serif;
  color: #333;
}

/* HERO */
.contact-hero {
  height: 300px;
  background: linear-gradient(135deg, #424242, #fdfbff);
  color: rgb(60, 44, 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-hero h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.contact-hero p {
  font-size: 18px;
  max-width: 500px;
}

/* CONTENT GRID */
.contact-content {
  padding: 60px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

/* CARD */
.contact-card {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-6px);
}

.contact-card h2 {
  margin-bottom: 15px;
  color: #000000;
}

/* SOCIAL */
.social-links {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  font-size: 22px;
  cursor: pointer;
}

.social-links span:hover {
  transform: scale(1.2);
}

/* WHY LIST */
.contact-card ul {
  padding-left: 20px;
}

.contact-card li {
  margin-bottom: 10px;
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #000000;
}

.contact-form button {
  padding: 12px;
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #5a5757;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .contact-hero h1 {
    font-size: 32px;
  }
}
