.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #000000;
  color: wheat;
  padding: 20px; /* 20px LEFT & RIGHT padding */
  border-radius: 1px;
 
  box-sizing: border-box; /* ensure padding included */
}

.footer-container h3 {
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
 
}
.child1,.child2{
    border-right:2px solid #ffffff;
    margin: 5px;
    color: wheat
}

.footer-container p {
  margin: 5px 0;
  font-size: 0.95rem;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px; /* smaller padding on mobile */
  }

  .footer-container div {
    margin-bottom: 25px;
  }
}

/* Footer copyright paragraph */
.footer-container > p:last-child {
  grid-column: 1 / -1; /* span all 3 columns */
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  color: #ffffff;
  border-top: 1px solid #fffefe; /* horizontal line above copyright */
  padding-top: 10px; /* spacing between line and text */
}
